
/* Split banner content */
.split-banner, .banner-gradient {
    position: relative;
    width: 100%;

    min-height: 300px;
    background: linear-gradient(
        to right,
        rgb(15, 15, 75) 0%,
        rgb(15, 15, 75) 50%,
        transparent 75%,
        transparent 100%
    );

    color: white;
    padding: 20px;
}

.split-banner-figure {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.split-banner-figure-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-gradient-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}