/* 
:root {
    --img-banner: url('placeholder-4x3.svg');
}
 */

.half-banner {
    position: relative;
    min-height: 500px;
    background: linear-gradient(
        to right,
        rgb(15, 15, 75) 0%,
        rgb(15, 15, 75) 50%,
        transparent 75%,
        transparent 100%
    );

    color: white;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.half-banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: var(--img-banner) no-repeat center center;
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}

/* .half-banner > * {
    position: relative;
    z-index: 2;
} */