.card-img-wrapper {
    position: relative;
    margin: 0;
}

.card-img-wrapper .card-img-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

@media screen and (min-width: 992px) {
    .card-horizontal {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-img-wrapper .card-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@supports (container-type: inline-size) {

    .card-horizontal-container {
        container-name: horizontal-card;
        container-type: inline-size;
    }

    /* Container query for .card-horizontal when container > 470px */
    @container horizontal-card (min-width: 470px) {
        .card-horizontal {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .card-img-wrapper .card-img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}