.card-img-wrapper {
    position: relative;
    margin: 0;
}

.card-img-wrapper .card-img-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

@media screen and (min-width: 992px) {

    .card-horizontal {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-img-wrapper .card-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-horizontal .right-frame {
        order: 2;
    }

    .card-horizontal .left-frame {
        order: 1;
    }

}

.horizontal-card-container {
    container-name: horizontal-card;
    container-type: inline-size;
}

/* Container query for .card-horizontal when container > 576px */
@container horizontal-card (min-width: 400px) {

    .horizontal-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .card-img-wrapper .card-img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

