:root {
<<<<<<< HEAD
  --primary: #f06d06;
  --secondary: #f0f0f0;
  --tertiary: #f0f0f0;
  --quaternary: #f0f0f0;

  --offset: -12rem;
  --content-margin: 6rem 2rem;
  --shape-height: min(200%, calc(100% + 6rem));
  /* --shape-height: 200%; */

=======
  --size: 14rem;
>>>>>>> 36fcc8774736057f9e46ad61ffd542bf01f23d1a
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.bg-shape {
  position: relative;
  /* margin: 2rem 0; */
}

.bg-shape::before {
  content: '';
  position: absolute;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.3));
  aspect-ratio: 10/4;
  background-size: contain;
  height: min(200%, calc(100% + 12rem));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 1px solid darkgray;
}

.bg-shape--content {
  padding: var(--content-margin);
  position: relative;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
}

.bg-shape--left1::before {
  background: url(./assets/left-blue-1.svg) center no-repeat;
  aspect-ratio: 100/34;
  background-size: contain;
}

.bg-shape--left2::before {
  background: url(./assets/left-blue-2.svg) center no-repeat;
  background-size: contain;
<<<<<<< HEAD
=======
  height: min(200%, calc(100% + 12rem))
>>>>>>> 36fcc8774736057f9e46ad61ffd542bf01f23d1a
}

.bg-shape--right1::before {
  background: url(./assets/right-grey-1.svg) center no-repeat;
<<<<<<< HEAD
  aspect-ratio: 100/34;
=======
>>>>>>> 36fcc8774736057f9e46ad61ffd542bf01f23d1a
  background-size: contain;
}

.bg-shape--right2::before {
  background: url(./assets/right-grey-2.svg) center no-repeat;
  aspect-ratio: 20/9;
  background-size: contain;
}

.bg-shape--title::before {
  background: url(./assets/left-title.svg) center no-repeat;
  aspect-ratio: 5/1;
  background-size: contain;
  left: 35%;
  transform: translate(-65%, -50%);
  background-size: contain;
}
