:root {
  --primary: #f06d06;
  --secondary: #f0f0f0;
  --tertiary: #f0f0f0;
  --quaternary: #f0f0f0;

  --offset: -13rem;


}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.bg-shape {
  position: relative;
  margin: 2rem 0;
}

.bg-shape::before {
  content: '';
  position: absolute;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.3));
  aspect-ratio: 10/4;
  background-size: contain;
  /* height: max(22rem, 200%); */
  height: clamp(126%, 50vh, 200%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-shape--content {
  padding: 3rem 0;
  position: relative;
  z-index: 100;
}

.bg-shape--left1::before {
  background: url(./assets/left-blue-1.svg) center no-repeat;
}

.bg-shape--left2::before {
  background: url(./assets/left-blue-2.svg) center no-repeat;
}

.bg-shape--right1::before {
  background: url(./assets/right-grey-1.svg) center no-repeat;
}

.bg-shape--right2::before {
  background: url(./assets/right-grey-2.svg) center no-repeat;
  aspect-ratio: 20/9;
  background-size: contain;
}

.bg-shape--title::before {
  background: url(./assets/left-title.svg) center no-repeat;
  aspect-ratio: 5/1;
}
