:root {
  --primary: #f06d06;
  --secondary: #f0f0f0;
  --tertiary: #f0f0f0;
  --quaternary: #f0f0f0;

  --offset: -13rem;


}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.shape {
  clip-path: path('M 4750.742188 2043.175781 C 4759.837402 2099.625 4721.035156 2141.361328 4664.071289 2136.400391 L 75.045288 1736.509766 C 18.085449 1731.552734 -13.021362 1683.691406 5.569458 1629.621094 L 533.748657 93.394531 C 552.339478 39.322266 613.71167 -2.335938 670.829712 0.345703 L 4346.73584 172.990234 C 4403.849609 175.673828 4457.526855 223.611328 4466.62207 280.0625 Z');
  background-color: bisque;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lefta {
  margin: 5rem 0;
  position: relative;
}

.bg-shape {
  position: relative;
  margin: 2rem 0;
}

.bg-shape::before {
  content: '';
  position: absolute;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.3));
  background-size: contain;
  aspect-ratio: 10/4;
  /* height: max(22rem, 200%); */
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-shape--content {
  padding: 3rem 0;
  position: relative;
  z-index: 100;
}

.bg-shape--left1::before {
  background: url(./assets/left-blue-1.svg) center no-repeat;
}

.bg-shape--left2::before {
  background: url(./assets/left-blue-2.svg) center no-repeat;
}

.bg-shape--right1::before {
  background: url(./assets/right-grey-1.svg) center no-repeat;
}

.bg-shape--right2::before {
  background: url(./assets/right-grey-2.svg) center no-repeat;
}

.bg-shape--title::before {
  background: url(./assets/left-title.svg) center no-repeat;
  aspect-ratio: 5/1;
}
