
.grid {
  display: grid;
  gap: 1rem;
}

.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-item {
  background-color: #bababa ;
  padding: 1rem;
  border: 1px solid #ccc;
  min-height: 250px;
  /* aspect-ratio: 1 / 1; */
  display: flex;
  align-items: center;
  justify-content: center;
}
